## Some SSH public keys to add to the hosts

ssh_keys = [
  # Cadmium NixOS
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOKmSxFyT9n91A9dOpSCfl9kJj80KWFA6UvCtguT4S5b giodamelio@cadmium",
  # Chromebook Developer Container
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAHlH3cxSO186g1bcZ3I3xSX3Fi2E094XnzvTFnW5/G1 giodamelio@cesium",
  # Pixel 7 Terminus
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIeXlwmUkJJrmTVPscq619y5flExaiDnJ4988fHUK1Av",
  # Pixel 8 Terminus
  "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBCsv5nvQed0ahn542ujutvCI7rUv+wNXUQTXAF8MfePxSMBNvHKYj5BtnXNdPeVoI54akfWz9n5f+V6Tv1Qqy5U=",
  # Calcium (Cadmium Windows WSL)
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMhqJ8PTqeOk3DUTcakj2BUpSbVJslDpejEf+0avaQtD giodamelio@calcium"
]

## All the machines

[machines.gio-pixel-7]
hardwareDescription = "Pixel 7 Pro"
useDescription = "My Phone"

[machines.cadmium]
hardwareDescription = "Desktop machine under my desk"
useDescription = "Main development machine"

[machines.cadmium.monitor-names]
left = "DP-2"
middle = "DP-3"
right = "DP-1"

[machines.gallium]
hardwareDescription = "QNAP TS-462-2G"
useDescription = "NAS running TruNAS Scale. Also runs storage based servers (Garage for S3, Syncthing)"

[machines.gallium.deploy]
sshDestination = "server@gallium.gio.ninja"

[machines.gallium.consul]
join_address = "gallium.gio.ninja"

[machines.calcium]
hardwareDescription = "WSL2 Distro on Cadmium's Windows 11 install"
useDescription = "Hacking random projects while on Windows"

[machines.cesium]
hardwareDescription = "Cheap Lenovo Chromebook"
useDescription = "Super portable travel machine"

[machines.carbon]
hardwareDescription = "HP EliteDesk Mini Computer"
physicalLocation = "minirack"
useDescription = "LAN VPN and other important services"

[machines.carbon.deploy]
sshDestination = "server@carbon.gio.ninja"

[machines.carbon.consul]
join_address = "carbon.gio.ninja"

[dns."gio.ninja".a]

[dns."gio.ninja".cname]
"unifi.lan." = ["unifi"]
"cadmium.lan." = ["cadmium"]
"gallium.lan." = [
  "gallium",
  "immich",
  "s3.garage",
  "*.s3.garage",
  "*.web.garage",
  "admin.garage",
  "attic",
  "jellyfin",
]
"carbon.lan." = [
  "carbon",
  "gatus",
  "login",
  "prometheus",
  "loki",
  "grafana",
  "mealie",
  "api.mealie",
  "homer",
  "restate",
  "admin.restate",
  "ingress.restate",
  "windmill",
  "rustmailer",
  "grist",
  "consul",
  "home-assistant",
]
"jetkvm.lan." = ["jetkvm"]
